
body{
  margin: 0 auto;
  background: url('img/72397.jpg') top left no-repeat;
  height: 100%;
  background-size: cover;
  width: 1920px;
}

.container{
  width: 500px;
  height: 500px;
  text-align: center;
  background-color: rgba(50, 75, 95, 0.7);
  border-radius: 5px;
  margin : 0 auto;
  margin-top: 250px;
}

input[type="text"], input[type="password"]{
  height: 45px;
  width: 300px;
  font-size: 18px;
  margin: 100px 0 -80px 0 ;
  background-color: #fff;
  padding-left: 30px;
}

.btn-login{
  padding: 15px 30px;
  width: 30%;
  cursor: pointer;
  margin: 30px;
  color: #fff;
  border-radius: 5px;
  border: none;
  background-color: #2ECC71;
}

.pwd{
  color: #2F82AB;
  margin: 20px;
  padding-left: 225px;
}

.new{
  margin-left: -130px;
  color: #fafafa;
  font-size: 18px;
}
